.wavy {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 503px) {
    display: none;
  }
}

.wavy-large {
  width: 100%;
  position: absolute;
  height: 700px;
  margin-top: -115px;
  z-index: -1;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(5px);

  @media screen and (max-width: 1366px) {
    display: none;
  }
}

.wavy-left-and-right {
  position: absolute;
  height: 700px;
  margin-top: -270px;
  width: 100%;
  z-index: -1;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1366px) {
    display: none;
  }

}
