back-end/venv/
front-end/node_modules/
back-end/build/

*.pyc
front-end/iMosyon/.env
back-end/services/user.py
Book1.csv
iMosyon-Result-JMr1THZ4t1rv.csv
iMosyon-Result-V1iHCLgxdZRF.csv
iMosyon-Result-zh6as3hvpv5u.csv
back-end.rar
front-end.rar
