div.footer {
  background: linear-gradient(91.62deg, #2F3134 40.75%, #3A4D69 150.86%);
  background-repeat: no-repeat;
  background-size: cover;

  padding: {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}