@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';

.home {
  background: radial-gradient(
    78.01% 78.01% at 50% 21.99%,
    #2f3134 0%,
    #171818 81.65%
  );
  background-repeat: no-repeat;
  background-size: cover 100%;
  background-position: center;
  color: var(--primary-white);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  @media screen and (max-width: 767px) {
    background: radial-gradient(
      363.59% 109.19% at 44.44% 25.42%,
      #1c1d1e 0%,
      #273e49 100%
    );
  }
}

main {
  width: 100%;

  .header-content {
    margin-top: 130px;

    .contents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding-left: 29px;

      span {
        letter-spacing: 1.2px;
        font-weight: 400;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: start;
      }

      h1 {
        width: 320px;
        font-size: 2.9rem;
        font-family: 'Poppins';
        font-weight: 700;
        color: var(--primary-white);
        text-align: start;
        line-height: 100%;
      }

      @media screen and (min-width: 926px) {
        h1 {
          width: 920px !important;
          font-size: 4.9rem !important;
          text-align: center !important;
        }
      }

      @media screen and (min-width: 767px) {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          text-align: center;
          width: 480px;
          font-size: 2.9rem;
        }
      }
    }

    .action {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
      gap: 10px;
      padding-left: 29px;
      flex-wrap: wrap;

      p {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-align: start;
        font-size: 10px;

        @media screen and (max-width: 767px) {
          width: calc(590px / 2);
        }
      }

      @media screen and (min-width: 767px) {
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding-left: 0;
        flex-wrap: nowrap;

        p {
          text-align: center;
          font-size: 16px;
        }
      }
    }

    @media screen and (min-width: 767px) {
      margin-top: 300px;
    }
  }
}

section#system-description {
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  h1 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 526px) {
      font-size: 37px;
    }
  }
}
