@use 'sass:color';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/400.css';

@mixin defaultTransition {
  transition: all 0.4s ease;
}

@mixin btn-lg-width {
  padding-left: 51px !important;
  padding-right: 51px !important;
}

@mixin btn-md-width {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

@mixin btn-sm-width {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btnd {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

// sizes
.btnd-lg {
  @include btn-lg-width;

  padding: {
    top: 20px !important;
    bottom: 20px !important;
  }
  font-size: 1.563rem !important;
  font-weight: 600;
  border-radius: 9px;
  font-family: 'Poppins';
}

.btnd-md {
  @include btn-md-width;
  padding: {
    top: 10px !important;
    bottom: 10px !important;
  }

  font-size: clamp(1.063rem, 1.063rem, 1.3rem) !important;
  font-weight: 500 !important;
  font-style: normal !important;
  border-radius: 6px;
  font-family: 'Poppins' !important;
  letter-spacing: 0.6px;
}

.btnd-sm {
  @include btn-sm-width;
  padding: {
    top: 7px !important;
    bottom: 7px !important;
  }
  font-size: 0.813rem !important;
  font-weight: 600;
  border-radius: 6px;
  font-family: 'Poppins';
}

// width sie

.btnd-lg-w {
  @include btn-lg-width;
}

.btnd-md-w {
  @include btn-md-width;
}

.btnd-sm-w {
  @include btn-sm-width;
}

.btnd-lg-100 {
  width: 100%;
}

// radius

.btnd-circle {
  border-radius: 25px;
}

// colors

.btnd-light {
  @include defaultTransition;
  background-color: var(--primary-white);
  color: var(--primary-dark);

  &:hover {
    background-color: var(--primary-dark);
    color: var(--primary-white);
  }

  &:active {
    background-color: #494a4d;
    color: var(--primary-white);
  }
}

.btnd-dark {
  @include defaultTransition;
  background-color: var(--primary-dark) !important;
  color: var(--primary-white) !important;

  &:hover {
    background-color: #494a4d !important;
    color: var(--primary-white) !important;
  }

  &:active {
    background-color: #494a4d !important;
    color: var(--primary-white) !important;
  }
}

.btnd-light-outline {
  @include defaultTransition;
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--primary-white) !important;

  &:hover {
    background-color: var(--primary-dark) !important;
    color: var(--primary-white) !important;
    margin: -2px !important;
  }
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25) !important;
}

.btnd-dark-outline {
  @include defaultTransition;
  background-color: transparent !important;
  color: var(--primary-white) !important;

  &:hover {
    background-color: var(--primary-dark);
    color: var(--primary-white);
  }
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

// custom

.btnd-burger {
  color: #fff;
  padding: {
    left: 0px !important;
    right: 0px !important;
  }
}
