$fa-font-path: '../node_modules/@fortawesome/fontawesome-pro/webfonts';

@import '../../../node_modules/@fortawesome/fontawesome-pro/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-pro/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-pro/scss/regular.scss';
@import '../../../node_modules/@fortawesome/fontawesome-pro/scss/light.scss';

@import '@fontsource/noto-sans/500.css';
@import '@fontsource/noto-sans/600.css';

$placeholder: rgba(120, 124, 126, 0.68);

.input-form {
  width: 100%;
  margin-top: 41px;

  div.input {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    label {
      &.input-error {
        color: var(--red) !important;
      }

      position: absolute;
      margin-left: 31px;
      color: $placeholder;
      font-size: 14px !important;
      pointer-events: none;
      margin-bottom: 65px;
      color: var(--blue);
      background: linear-gradient(180deg, #fdfdfd 31.77%, #f0f3f7 50%);
      padding-left: 5px;
      padding-right: 5px;
      transition: 0.1s ease-in-out all;
      margin-left: 22px;
      // display: none;
    }

    input {
      border: 2px solid var(--blue);
      background: rgba(0, 57, 143, 0.05);
      color: var(--secondary-dark);
      border-radius: 14px;
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 95%;
      position: relative;
      outline: none;

      font-family: 'Noto Sans', sans-serif;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0.005em;
      font-size: 14px !important;

      padding: {
        top: 22px;
        bottom: 22px;
        left: 30px;
      }

      &::placeholder {
        opacity: 0;
      }

      &.input-error {
        border: 2px solid var(--red) !important;
        border-right: none !important;
        color: var(--red);
      }
    }

    .input-icon {
      color: $placeholder;
      background: rgba(0, 57, 143, 0.05);
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
      color: var(--blue);
      border: 2px solid var(--blue);
      border-left: none;
      padding: {
        left: 30px;
        right: 30px;
        top: 21px;
        bottom: 20px;
      }
      &.icon-error {
        border: 2px solid var(--red) !important;
        border-left: none !important;
        color: var(--red) !important;
      }
    }

    input:placeholder-shown {
      & ~ label {
        display: block;
        margin-bottom: 0px;
        color: $placeholder;
        background: none;
        padding-left: 0px;
        padding-right: 0px;
      }
      & ~ .input-icon {
        color: $placeholder;
        border: 2px solid transparent;
      }

      border: 2px solid transparent;
    }

    input:focus {
      & ~ .input-icon {
        color: var(--blue);
        border: 2px solid var(--blue);
        border-left: none;
      }

      & ~ label {
        // display: none;
        margin-bottom: 65px;
        margin-left: 22px;
        color: var(--blue);
        background: linear-gradient(180deg, #fdfdfd 31.77%, #f0f3f7 50%);
        padding-left: 5px;
        padding-right: 5px;
      }

      &.input-error {
        border: 2px solid var(--red);
        border-right: none;

        & ~ label {
          color: var(--red) !important;
        }
      }

      border: 2px solid var(--blue);
      border-right: none;
    }

    &:hover {
      input {
        border: 2px solid var(--blue);
        border-right: none;

        &.input-error {
          border: 2px solid var(--red);
          border-right: none;
        }
      }
      .input-icon {
        color: var(--blue) !important;
        border: 2px solid var(--blue) !important;
        border-left: none !important;
        &.icon-error {
          border: 2px solid var(--red) !important;
          border-left: none !important;
          color: var(--red) !important;
        }
      }

      label {
        color: var(--blue) !important;
        &.input-error {
          color: var(--red) !important;
        }
      }
    }
  }

  div.small {
    margin-top: -5px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;

    .checkfield {
      color: $placeholder;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        width: 23px;
        height: 23px;
      }

      .custom-checkbox {
        width: 23px;
        height: 23px;
        border-radius: 2px;
        background-color: #e1e8f1;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 5px;
      }

      input:checked {
        & ~ .custom-checkbox {
          &::after {
            @extend %fa-icon;
            @extend .fa-solid;
            content: fa-content($fa-var-check);
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 900;
            flex-direction: row;
            justify-content: center;
            font-size: 14px;
          }
          color: var(--blue) !important;
        }

        & ~ label {
          color: var(--blue) !important;
        }
      }

      label {
        cursor: pointer;
        user-select: none;
        &:hover {
          color: #a1acd0;
        }
      }

      label:hover,
      input:hover {
        & ~ .custom-checkbox {
          &::after {
            @extend %fa-icon;
            @extend .fa-regular;
            content: '\f00c';
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 900;
            flex-direction: row;
            justify-content: center;
            font-size: 14px;
          }
          color: #a1acd0;
        }
      }
    }

    .forgot {
      color: var(--blue);
    }

    .error {
      transition: .2s ease-in-out;
      color: var(--red);
      margin-left: 2px;
      font-weight: 600;
    }
  }
}
